
<script id="tagMultiTemplate" type="text/x-kendo-template">
    <span title="#: Titulo #">
        #: Main.acortaTexto(Titulo) #
    </span>
</script>

<script id="tagMultiTemplate2" type="text/x-kendo-template">
    <span title="#: Text #">
        #: Main.acortaTexto(Text) #
    </span>
</script>