<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4ed3b467-b118-49e1-94b5-2df6dda32ad5/resourceGroups/DibamDev/providers/Microsoft.Web/sites/GedocMvc</ResourceId>
    <ResourceGroup>DibamDev</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://gedocmvc.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>gedocmvc.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>GedocMvc</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$GedocMvc</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="GedocEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:dibam-dev.database.windows.net,1433;Initial Catalog=GedocMvc;Persist Security Info=False;User ID=adm;Password=Passwd123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;Application Name=EntityFramework" Name="Data Source=tcp:dibam-dev.database.windows.net,1433;Initial Catalog=GedocMvc;Persist Security Info=False;User ID=adm;Password=Passwd123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Gedoc.Repositorio.Model.GedocEntities, Gedoc.Repositorio" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="GedocEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Model.GedocModel.csdl|res://*/Model.GedocModel.ssdl|res://*/Model.GedocModel.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:dibam-dev.database.windows.net,1433;Initial Catalog=GedocMvc;Persist Security Info=False;User ID=adm;Password=Passwd123;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>